In [9]:
# Retirement Model

Insert description here:
- [**Setup**](#Setup): Runs any imports and other setup
- [**Inputs**](#Inputs): Defined the inputs for the model
- [**Salaries**](#Salaries): Determines the annual salary based in cost of living raise

SyntaxError: invalid syntax (<ipython-input-9-6d1cb483b0eb>, line 3)

Setup

Setup for the later caculations are here. The necessary packages are imported.

In [10]:
from dataclasses import dataclass

Inputs

All of the imputs for the model are defined here. A class is constructed to manage the data, and an instance of the class default inputs is created.

In [11]:
@dataclass
class ModelInputs:
  starting_salary: int=60000
  promos_every_n_years: int=5
  cost_of_living_raise: float=0.02
  savings_rate: float=0.25
  promo_raise: float=0.15
  interest_rate: float=0.05
  desired_cash: int=1500000

model_data=ModelInputs()
model_data

ModelInputs(starting_salary=60000, promos_every_n_years=5, cost_of_living_raise=0.02, savings_rate=0.25, promo_raise=0.15, interest_rate=0.05, desired_cash=1500000)

In [12]:
data=model_data

Salaries

In [13]:
def salary_at_year(data,year):
    num_promos=int(year/data.promos_every_n_years)
    salary_t=data.starting_salary * (1+ data.cost_of_living_raise) **year*(1+data.promo_raise)**num_promos
    return salary_t

salary_at_year(data,4)

64945.929599999996

In [14]:
for year in range(1,7):
  salary=salary_at_year(model_data,year)
  print(f'The salary at year {year} is ${salary:,.0f}')

The salary at year 1 is $61,200
The salary at year 2 is $62,424
The salary at year 3 is $63,672
The salary at year 4 is $64,946
The salary at year 5 is $76,182
The salary at year 6 is $77,705

Wealth

In [16]:
year=1
def cash_save_during_year(data,year):
    salary=salary_at_year(data,year)
    cash_saved=salary*data.savings_rate
    return cash_saved

cash_save_during_year(data,year)

15300.0

In [18]:

def wealth_at_year(data,year,prior_wealth):
    cash_saved=cash_save_during_year(data,year)
    wealth=prior_wealth * (1+data.interest_rate)+cash_saved
    return wealth

In [22]:
prior_wealth=0
for i in range(6):
    year =i+1
    wealth=wealth_at_year(model_data,year, prior_wealth)
    print(f'The wealth at year {year} is ${wealth:,.0f}.')
    prior_wealth=wealth

The wealth at year 1 is $15,300.
The wealth at year 2 is $31,671.
The wealth at year 3 is $49,173.
The wealth at year 4 is $67,868.
The wealth at year 5 is $90,307.
The wealth at year 6 is $114,248.

Retirement

In [24]:
def years_to_retirement(data):
    prior_wealth=0
    wealth=0
    year=0
    print('Wealths over time:')
    while wealth <data.desired_cash:
        year+=1
        wealth=wealth_at_year(data,year,prior_wealth)
        print(f'The wealth at year{year} is ${wealth:,.0f}')
        prior_wealth=wealth

    print('\n\nRetirement:')
    print(f'It will take {year} years to retire')
    return year

In [28]:
# ytc=years_to_retirement(model_data)
ytc=years_to_retirement(ModelInputs(cost_of_living_raise=0.04))

Wealths over time:
The wealth at year1 is $15,600
The wealth at year2 is $32,604
The wealth at year3 is $51,107
The wealth at year4 is $71,210
The wealth at year5 is $95,758
The wealth at year6 is $122,373
The wealth at year7 is $151,191
The wealth at year8 is $182,359
The wealth at year9 is $216,029
The wealth at year10 is $256,195
The wealth at year11 is $299,543
The wealth at year12 is $346,281
The wealth at year13 is $396,626
The wealth at year14 is $450,809
The wealth at year15 is $514,435
The wealth at year16 is $582,885
The wealth at year17 is $656,467
The wealth at year18 is $735,506
The wealth at year19 is $820,345
The wealth at year20 is $918,846
The wealth at year21 is $1,024,572
The wealth at year22 is $1,137,976
The wealth at year23 is $1,259,537
The wealth at year24 is $1,389,762
The wealth at year25 is $1,539,679


Retirement:
It will take 25 years to retire